* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  height: 85%;
  background-color: #111;
  display: flex;
  padding: 5vw 10vw;
}

#left {
  height: 100%;
  width: 45%;
  background-color: #333;
  background-size: cover;
  background-position: top;
}

#right {
  width: 55%;
  height: 100%;
  padding: 0 3vw;
  /* background-color: aqua; */
}

#right h3 {
  font-size: 20px;
}

#all-songs {
  /* background-color: red; */
  height: 85%;
  margin-top: 30px;
}

.song-card:hover {
  background-color: #726767;
}

.song-card img {
  height: 55px;
  width: 55px;
  margin-right: 15px;
}

.song-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid white;
  padding: 15px 15px;
}

.song-card .part1 {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.song-card h2 {
  font-size: 19px;
  font-weight: 600;
}
.song-card h6 {
  font-size: 16px;
  font-weight: 500;
}

.song-card:nth-last-child(1) {
  border-bottom: 1px solid #fff;
}

#player {
  height: 15%;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#player h3 {
  background-color: rgb(30, 30, 30);
  padding: 5px;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#player h3:active {
  scale: 0.93;
}
